.start, .scen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.start {
    color: rgb(255,255,255);
    font-size: 5rem;
}

.scen {
    display: none;
    perspective: 10em;
    perspective-origin: 50% 50%;
}

.text {
    position: absolute;
    width: 13em;
    font-size: 4rem;
    color: rgb(11, 166, 228);
    animation: fadeOut 5s ease-in-out forwards;
}

.title {
    width: max-content;
    line-height: 0.75;
    position: absolute;
    font-size: 6rem;
    text-transform: uppercase;
    color: rgb(202, 159, 16);
    font-family: 'Pathway Gothic One',
    sans-serif;
    transform:scale(6);
    animation: fadeIn 100ms ease-out 5s forwards, scaleDown 15.5s linear 5s forwards, fadeOut 5s ease-in-out 15s forwards;
    opacity: 0;
    color: rgb(0, 0, 0);
    text-shadow: -2px -2px 0 rgb(202, 159, 16),
    2px -2px 0 rgb(202, 159, 16),
    -2px 2px 0 rgb(202, 159, 16),
    2px 2px 0 rgb(202, 159, 16);
    letter-spacing: 0.08em;
}

.title span {
    display:block;
    letter-spacing: 0.12em;
    margin: 0 0 0.05em 0.125em;
}

.slideText {
    position: absolute;
    color: rgb(202, 159, 16);
    font-family: sans-serif;
    width: 16em;
    transform: rotateX(32deg) translateZ(7.5em) translateY(11.13em) scale(0.3);
    animation: scrollText 190s ease-in-out forwards, fadeOut 5s ease-in-out 75s forwards;
    line-height: 1.2em;
}

.slideText p {
    text-align: justify;
    padding: 1em;
}

.slideText p:first-child {
    text-align: center;
}

.slideText h2 {
    padding: 0 0 0.5em 0;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}